# Python
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/

# Environment
.venv/
venv/
env/

# Generated results
results/*
!results/next_experiment_selection/
results/next_experiment_selection/*
!results/next_experiment_selection/next_experiments.csv

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db